
.parent-1{
    background-color: #12343b;
}

.parent-1 .calc-container{
    width: 50%;
    margin: auto;
}

.parent-1 .calc-container form{
    padding: 50px;
    background-color: #15424b;
    border-bottom: 6px solid rgb(40, 40, 172);
    background-image: url(/kidcalc/assets/images/ps.jpg);
}

.parent-1 fieldset{
    padding: 20px;
    background-image: url(/kidcalc/assets/images/theme1-img.jpg);
}

.parent-1 .calculator{
    padding-top: 20px;
}

.parent-1 .equation{
    width: 100%;

}

.parent-1 h3{
    text-align: center;
    color: cadetblue;
    font-weight: bolder;
    font-size: 26px;
}

.parent-1 .buttons-calc{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,auto) ;

}

.parent-1 .info-bar{
    padding-top: 20px;
}

.parent-1 label{
    color: beige;
}

.parent-1 .info-bar input {
    width: 100%;
    margin: auto;
    text-align: center;
    border: 3px solid rgb(6, 243, 223);
}

.parent-1 button{
    background-color: beige;
}

@media(max-width:480px){
    .parent-1 .login-form form{
        width: 90%;
        margin: auto;
    }
}